* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
/* style header 
----------------------*/
.header{
  display: flex;
  padding: 0 0 26.85px 0;
  max-width: 1200px;
}

.menu__list, .header__options{
  display: flex;
} 

.header__logo-img{
  margin-right: 217px;
  width: 147px;
}

.header__options{
  margin-left: 286px;
  width: 78px;
}

.menu__list{
  font: 400 16px/1 "DM Sans", sans-serif;
  width: 472px;
  margin: 0 auto;
}
 
.menu__item{
  margin-left: 50px;
}

.menu__list .menu__link {
  color: #161616;
}

.header__options__search{
  margin-right: 30px;
}

/* style section furniture
------------------------------*/
.furniture{
  display: flex;
  background-color: #154444;
}

.furniture-img{
  width: 411px;
}

.furniture-d{
  margin: 101px 18px 137px 100px;
  
}

.furniture-tatil{
  font: 700 56px/1 "Montserrat", sans-serif;
  color: #ffffff;
  width: 671px;
}

.furniture-par{
  font: 400 20px/25px "DM Sans", sans-serif;
  margin: 20px 0 0 0;
  text-align: left;
  color: #ffffff;
  width: 488px;
}

.furniture-btn{
  margin-top: 35px;
  width: 172px;
  height: 56px;
  font: 400 20px/25px "DM Sans", sans-serif;
  color: #154444;
  background-color: #ffffff;
}